	<div class="row-fluid" ng-controller="personalLoginCtrl">
		<nav class="navbar">
		 	<div class="mainMenu" ng-if="checkMenu()">
		 		<a href="#/personalCabinet/{{userId}}"><button type="submit" class="btn btnMain">Личный кабинет</button></a> <a href="#/logOut">Выйти</a>
			</div>
			<div class="mainMenu" ng-if="!checkMenu()">
				<a href="#/login"><button type="submit" class="btn btnMain">Войти</button></a> <a href="#/registration">Регистрация</a>
			</div>
		</nav>
	</div>
	<div class="row sheduleForm">	
		<img src="../img/train-512.png" class="col-md-2" alt="">
		<form class="form-inline getShedule col-md-10" ng-submit="gettingShedule()">
		 	<div class="form-group firstStation">
		    	<label class="sheduleLabel" for="firstStation">Откуда</label>
		    	<input type="text" autocomplete="off" ng-model="station.firstStation" class="form-control" list="firstStationList" id="firstStation" placeholder="Станция отправления">
		    	<datalist id="firstStationList">
		    		<option ng-repeat="station in firstStations">{{station}} </option>
		    	</datalist>
		  	</div>
		  	<i class="fa fa-exchange fa-2x" ng-click="changeStations()"></i>
		  	<div class="form-group secondStation">
		    	<label class="sheduleLabel" for="secondStation">Куда</label>
		    	<input type="text" autocomplete="off" ng-model="station.lastStation" class="form-control" id="secondStation" list="lastStationList" placeholder="Станция прибытия">
		    	<datalist id="lastStationList">
		    		<option ng-repeat="station in lastStations">{{station}} </option>
		    	</datalist>
		  	</div>
		  	<div class="form-group">
		    	<label class="sheduleLabel" for="date">Когда</label>
		    	<input type="date" name="calendar" max="{{maxDateValue}}" min="{{minDateValue}}"  ng-model="station.date" class="form-control" id="date">
		  	</div>
		  	<div class="form-group">
		  		<button type="submit" class="btn btnSearch" name="getShedule">Найти</button>
		  	</div>
		</form>
	</div>
	<div class="row-fluid">
		<div class="alert alert-danger text-center" ng-if="error" role="alert">{{error}}</div>
		<table class="table table-striped trainTable" ng-if="visibleTable(data.length)">
			<thead>
				<th>покупка</th>
				<th>Номер поезда</th>
				<th>Тип</th>
				<th>Маршрут</th>
				<th>Откуда</th>
				<th>Куда</th>
				<th>Места</th>
			</thead>
			<tbody>
				<tr ng-repeat="train in data">
					<td><a href="#/wagons/{{train.trainId}}/{{train.from}}/{{train.to}}/{{train.date}}/{{train.distance}}"><i class="fa fa-ticket fa-2x"></i></a></td>
					<td>{{train.number}}</td>
					<td>{{train.type}}</td>
					<td>{{train.road}}</td>
					<td><b>{{train.from}}</b><br>{{train.dateOut}}</td>
					<td><b>{{train.to}}</b><br>{{train.dateIn}}</td>
					<td>
						<ul class="list-unstyled" ng-repeat="place in train.places">
							<li><b>Тип</b> : {{place.type}}</li>
							<li><b>Число мест</b> : {{place.count}}</li>
							<li><b>Цена</b> : {{place.price}}$</li>
						</ul>  
					</td>

				</tr>
			</tbody>
		</table>
	</div>
